*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{

    /* color variable */
    --bg-color: #000000;
    --text-color: #f4f4f4;
    --bg-button-color: #1a1a1a;
        --bg-task-color: #2a2a2a;
            --delete-color: #ff4d4d;
    
    /* padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;
/* border variables */
--boder-radius-sm: 5px;
--boder-radius-lg: 10px;

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
}
nav{ 
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav button{
    background-color: var(--bg-button-color);
    border-radius: var(--boder-radius-sm);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: var(--padding-md) var(--padding-lg);
}
nav button:hover{
    cursor: pointer;
    border: 2px solid var(--text-color);
}
section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between; 
    /* background-color: blue; */
    gap: var(--padding-xxl);
}

section .task-column{
    background-color: var(--bg-button-color);
        /* display: flex; */
    /* justify-content: space-between; */
    flex-grow: 1;
    padding: var(--padding-md);
    border-radius: var(--boder-radius-sm);
}
section .task-column .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .task-column .task{

}
