* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  /* color variable */
  --bg-color: #000000;
  --text-color: #f4f4f4;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --delete-color: #ff4d4d;

  /* padding variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;
  /* border variables */
  --boder-radius-sm: 5px;
  --boder-radius-lg: 10px;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
}
nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav button {
  background-color: var(--bg-button-color);
  border-radius: var(--boder-radius-sm);
  border: none;
  outline: none;
  color: var(--text-color);
  padding: var(--padding-md) var(--padding-lg);
}
nav button:hover {
  cursor: pointer;
  border: 1px solid var(--text-color);
}
section {
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  /* background-color: blue; */
  gap: var(--padding-xxl);
}

section .task-column {
  background-color: var(--bg-button-color);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  flex-grow: 1;
  padding: var(--padding-md);
  border-radius: var(--boder-radius-lg);
}
section .task-column.hover-over {
  border: 2px dashed wheat;
  scale: 1.05;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .task-column .task {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  background: var(--bg-task-color);
  border-radius: var(--boder-radius-lg);
  padding: var(--padding-md);
  cursor: grab;
}
section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--delete-color);
  color: var(--text-color);
  border-radius: var(--boder-radius-sm);
  outline: none;
  border: none;
}
section .task-column .task button:hover {
  cursor: pointer;
  background-color: #ff6565;
}

section .task-column .task.dragging{
    opacity: 1;
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255,255,255,0.15);
    cursor: grabbing;
}
.modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.active{
  display: flex;
}
.modal .bg{
  position: absolute;
  width: 100%;
  height: 100%; 
  background: rgba(61, 61, 61, 0.251);
  backdrop-filter: blur(5px);
    display: flex;
  align-items: center;
  justify-content: center;
}
.modal .center{
  display: flex;
  flex-direction: column;
  padding: var(--padding-xxl);
  border-radius: var(--padding-md);
  gap: var(--padding-md);
  align-items: center;
  justify-content: center;
  background-color:#181616;
  z-index: 100;
}
.modal .center input, .modal .center textarea{
  padding: var(--padding-md) var(--padding-md);
  background-color: var(--bg-task-color);
  color: var(--text-color);
  outline: none;
  border: none;
  z-index: 100;
}

.modal .center #add-task-btn{
  padding: var(--padding-md);
  background: var(--text-color);
  color: var(--bg-button-color);
  border: none;
  outline: none;
  border-radius: var(--boder-radius-sm);
  width: fit-content;
  align-self: center;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
section {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  /* background-color: blue; */
  gap: var(--padding-xxl);
}
section .task-column .task button:hover {
align-self: flex-start;
}

}